
img {
  width: 100%;
}

section {
  margin-bottom: 2px;
}

.title {
    width: 100%;
    height: 40px;
    position: relative;

    background-color: #c1c1c1;

    cursor: pointer;
}

.title h2 {
  margin: 0;
  margin-left: 5px;
  line-height: 40px;
}

.title span {
  width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 4px;
    right: 20px;

    background-size: 100%;
}

.down {
  background-image: url('../imgs/ic_arrow_down.png');
}

.up {
  background-image: url('../imgs/ic_arrow_up.png');
}

.content {
  display: none;
}
