html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

section {
  width: 100%;
  height: 500px;
}

#aquamarine {
  background: aquamarine;
}

#blueviolet {
  background: blueviolet;
  background-image: url('../img/tabby.jpg');
}

#coral {
  background: coral;
}
